  /* Flex e grid */

  .flex {
      display: flex;
  }

  .flex-col {
      display: flex;
      flex-direction: column;
  }

  .items-center {
      align-items: center;
  }

  .justify-between {
      justify-content: space-between;
  }

  .justify-center {
      justify-content: center;
  }

  .gap-1 {
      gap: 8px;
  }

  .gap-2 {
      gap: 16px
  }

  .gap-3 {
      gap: 24px
  }