* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-pricipal);
    background-color: var(--bg-primario);
    color: var(--text-primario);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}