/*
Vou deixar comentado pra ficar entendivel para caso algum de voces não compreenda algo.

Nesse arquivo vai ficar definido os padrões de design que serem reutilizados em todo o projeto
claro que eles sofreram alterações com o tempo.
*/

:root {
    /*Paleta de Cores*/

    --cor-primaria: #1a365d;
    /* Azul escuro (nav/header) */
    --hover-primario: #122844;
    /* Estado hover para os botões primários */
    --cor-secundario: #2b6cb0;
    /* Azul secundario */
    --hover-secundario: #1c4ed8;
    /* Estado de hover para ações secundarias */
    --foco-cor: #3182ce;
    /* Azul de destaque (foco/links/seletores) */

    /* Superficies e textos */

    --bg-primario: #f7fafc;
    /* Fundo principal */
    --bg-card: #ffffff;
    /* Fundo de cards e tabelas */
    --texto-primario: #2d3748;
    /* Cor principal do texto */
    --texto-secundario: #718096;
    /* Cor secundaria para texto */
    --bordas-cor: #e2e8f0;
    /* Linhas de divisão, bordas de tabela e input */
    --bordas-foco: #3182ce;
    /* Borda ativa quando focado no input */

    /*Cores para feedback e status*/

    /* Sucesso */

    --sucesso: #38a169;
    --bg-sucesso: #f0fff4;
    --borda-sucesso: #c6f6d5;

    /* Alerta  */

    --alerta: #d69e2e;
    --bg-alerta: #fff5f5;
    --borda-alerta: #fefcbf;

    /* Perigo */

    --perigo: #e53e3e;
    --bg-perigo: #fff5f5;
    --borda-perigo: #fed7d7;

    /* Tipogradia e Espaçamento */

    --fonte-principal: 'Arial', sans-serif;
    --line-height-base: 1.5;

    /* Arredondamento e Sombras */

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;

    --shadown-sm: 0 1px 3px rgba(0, 0, 0, 0.1) 0 1px 2px rgba(0, 0, 0, 0.06);

    --shadown-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1) 0px 2px 4px -1px rgba(0, 0, 0, 0.06);

    --shadown-lg: 0 10px

    /* Transições */

    --transicao-rapida: 0.15s ease-in-out;
    --transicao-normal: 0.25s ease-in-out;

}